.pag_home{
background-color: rgb(152, 54, 244);
}
    
.nav_pag_home{
    background-color: rgb(43, 1, 82);
    width: 1000px;
    max-width: 95%;
    height: 50px;
    padding: 0 20px;
    border-radius: 8px;
    padding: 0 20px;

    margin: 20px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botoes{
display: flex;
gap: 10px;
}

.titulo_pag_home{
font-size: 20px;
color: white;
margin: 0;
text-align: left;

}
.btn_pag_home{
    background-color: rgb(110, 33, 181);
border-radius: 8px;
border-color: rgb(102, 29, 170);
color: black;

padding: 8px;
}
.btn_pag_cadastro{
  background-color: rgb(110, 33, 181);
border-radius: 8px;
border-color: rgb(102, 29, 170);
color: black;

padding: 8px;
}
.btn_pag_login{
  background-color: rgb(110, 33, 181);
border-radius: 8px;
border-color: rgb(102, 29, 170);
color: black;

padding: 8px;
}

.btn_dash{
     background-color: rgb(110, 33, 181);
border-radius: 8px;
border-color: rgb(102, 29, 170);
color: black;

}

.btn_sobre{
     background-color: rgb(110, 33, 181);
border-radius: 8px;
border-color: rgb(102, 29, 170);
color: black;

}

.btn_votar{
     background-color: rgb(110, 33, 181);
border-radius: 8px;
border-color: rgb(102, 29, 170);
color: black;

}

.btn_entrarCad{
     background-color: rgb(110, 33, 181);
border-radius: 8px;
border-color: rgb(102, 29, 170);
color: black;

}

.btn_login2{
     background-color: rgb(110, 33, 181);
border-radius: 8px;
border-color: rgb(102, 29, 170);
color: black;

}