button:hover{
     cursor: pointer;
     color: yellow;
}
.fundo{
background-image: url("../img/itsyou.webp");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100vh;
margin: 0;
color: white;
}

.nav_pag_home{
    background-color: black;
    width: 1000px;
    max-width: 95%;
    height: 50px;
    padding: 0 20px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 0 20px;

    margin: 20px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botoes{
display: flex;
gap: 10px;
}

.titulo_home{
font-size: 20px;
color: white;
margin: 0;
text-align: left;

}

.box_cadastro{
    background-color: black;
    width: 1000px;
    max-width: 95%;

    border: 2px solid white;
    color: white;

    padding: 20px;
    margin: 20px auto;


     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 20px;

}

.box_cadastro div {
     width: 450px;
}

.box_cadastro input{
     width: 100%;
     margin-bottom: 10px;
}
.btn{
   background-color: black;
    border: 2px solid white;
border-radius: 0px;
color: white;

padding: 8px;
}