button:hover{
     cursor: pointer;
     color: yellow;
    transform: scale(1.05);
    border-color: yellow;
}
.btn{
   background-color: black;
    border: 2px solid white;
border-radius: 0px;
color: white;

padding: 8px;
}
.fundo{
background-image: url("../img/imagemfundoinicial.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100vh;
margin: 0;;
color: white;
}
.nav_pag_home{
    background-color: black;
    width: 1000px;
    max-width: 95%;
    height: 50px;
    padding: 0 20px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 0 20px;

    margin: 20px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box_dash{
background-color: black;
    width: 1000px;
    max-width: 95%;
    height: 1000px;
    border: 3px solid white;
    border-radius: 15px;
    padding: 0 20px;

    margin: 20px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.kpis{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
}
.kpi{
    background-color: black;
    border: 3px solid white;
    width: 220px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    color: white;
}
.kpi:hover{
    transform: scale(1.05);
    border-color: yellow;
}
.box_dash:hover{
     transform: scale(1.05);
    border-color: yellow;
}