button:hover{
     cursor: pointer;
     color: yellow;
}
.btn{
   background-color: black;
    border: 2px solid white;
border-radius: 0px;
color: white;

padding: 8px;
}
body{
background-color: rgb(11, 0, 21);
color: white;
text-align: center;
}

#quiz{
     display: none;
}

#fim{
     display: none;
}

.quiz{
 background-color: black;
    width: 350px;
    height: 260px;
    padding: 50px;
    border: 2px solid white;
    border-radius: 10px;

    margin: 20px auto;

}

.perguntas{
     background-color: black;
     border: 4px solid white;
     padding: 20px;

     gap: 8px;
}

.resultadoBox{
     border: 3px solid yellow;
     width: 500px;
     margin: auto;
     padding: 20px;
     border-radius: 15px;
     background-color: black;
}

.cardRanking{
     border: 2px solid white;
     width: 300px;
     margin: 10px auto;
     padding: 10px;
     border-radius: 10px;
}

#graficoRanking,
#graficoFinal{
     max-width: 700px;
     margin: auto;
}
