.box{
   border: 5px solid white;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 1000px;
   background-color: black;
   justify-content: center;
   margin: 20px auto;

}
.box h1{
     color: white;
     margin-bottom: 10px;
}
.organizar_votos{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
}
.box_personagem{
    width: 150px;        
    height: 180px;
    background-color: black;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
     
}
.box_personagem img{
    width: 80px;
    height: 100px;
    margin-bottom: 10px;

}
button:hover{
     cursor: pointer;
     color: yellow;
}
.btn{
   background-color: black;
    border: 2px solid white;
border-radius: 0px;
color: white;

padding: 8px;
}
.fundo{
background-image: url("../img/imagemfundoinicial.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100vh;
margin: 0;;
color: white;
}
.nav_pag_home{
    background-color: black;
    width: 1000px;
    max-width: 95%;
    height: 50px;
    padding: 0 20px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 0 20px;

    margin: 20px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
